
* { 
    margin: 0;
    padding: 0;
}



header {
    width: 100%;
    height: 100px;
    background-color:white;
}

.topnav ul {
    text-align: center;
    list-style-type: none;
    margin: 4;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.topnav li {
    display: inline-block;
}

.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover, header .active a {
    background-color: #33B1FF;
}

#headDiv {
    width: 100%;
    height: 800px;
    background: url(../img/nice.jpeg)no-repeat center; 
    background-size: 100%;
    line-height: 800px;
    margin: auto;
}



.titleText {
    font-size: 50px;
    line-height: 2.0;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
    text-shadow: 3px 3px black;
    
}

.titleSubText {
    font-size: 25px;
    line-height: 2.0;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    color:white;
    text-shadow: 3px 3px black;
}


.titleSubText {
    animation: color-change 10s infinite;
  }
  
  @keyframes color-change {
      0% { color: red; }
      15% {color : orange}
      30% {color: yellow}
      45% {color:red}
      60% { color:orange; }
      75% {color: paleturquoise}
      100% { color:palegreen; }
  }

  .titleText {
    animation: color-change 10s infinite;
  }
  
  @keyframes color-change {
      0% { color: red; }
      15% {color : orange}
      30% {color: yellow}
      45% {color: red}
      60% { color:orange; }
      75% {color:paleturquoise}
      100% { color:palegreen; }
  }



 body{
    background-color:grey;

}

  .neckPointPic{
    float:right;
    display:inline-block;

   
}
.neckPointText {
    float:left;
    display:inline-block;
    width:400px;
    height:230px;
    margin-top:10%;
    margin-left:10%;
    
    padding: 1%;
    border: solid 5px;
    border-radius: 12px;
    background-color:white;
}

.neckPointText h3 {
    text-align:center;
    text-decoration:underline;
}

.neckPointText a{
    margin-left: 45px;

}



.waterFrontText {
    float: left;
    display: inline-block;
    width: 400px;
    height: 280px;
    margin-top: 20%;
    margin-left: 10%;
    padding: 1%;
    border: solid 5px;
    border-radius: 12px;
    background-color: white;
}

    .waterFrontText h3 {
        text-align: center;
        text-decoration: underline;
    }

.waterFrontText a{
    margin-left:20px;

}
.waterFrontPic {
    float: right;
    display: inline-block;
}



.mountBensonPic {
    float:right;
}

.mountBensonText {
    float: left;
    display: inline-block;
    width: 400px;
    height: 265px;
    margin-top: 20%;
    margin-left: 10%;
    padding: 1%;
    border: solid 5px;
    border-radius: 12px;
    background-color: white;
}

    .mountBensonText h3 {
        text-align: center;
        text-decoration: underline;
    }

.underHead a:link, a:visited {
    border: solid 2px black;
    background-color: #66ccff;
    text-align: center;
    color: black;
    padding: 12px 25px;
    margin-bottom: 2px;
    display: inline-block;
    text-decoration: none;
}

.underHead a:hover, a:active {
    background-color: #3399ff;
}

footer {
    clear: both;
    width: 100%;
    height: 110px;
    background-color: #222222;
    margin: 0 auto;
}

    footer h2 {
        color: #CCCCCC;
        font-size: 30px;
        padding: 20px 0 10px 20px;
    }

    footer hr {
        width: 90%;
        border: 1px dashed #333333;
    }

    footer ul {
        margin-left: 50px;
        font-size: 18px;
        line-height: 2;
        text-indent: 20px;
    }

    footer li {
        list-style: none;
        float: left;
        padding-left: 20px;
        font-size: 20px;
    }

